@font-face {
  font-family: "Roboto-Lt";
  src: url("assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Md";
  src: url("assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Cn';
  src: url("assets/fonts/Roboto-Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Cn-It';
  src: url("assets/fonts/Roboto-BoldCondensedItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Bk-It';
  src: url("assets/fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Bl-It';
  src: url("assets/fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Md-It';
  src: url("assets/fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Bk';
  src: url("assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Bl-Cn';
  src: url("assets/fonts/Roboto-BoldCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Th';
  src: url("assets/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-It';
  src: url("assets/fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Th-It';
  src: url("assets/fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Cn-It';
  src: url("assets/fonts/Roboto-CondensedItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Lt-It';
  src: url("assets/fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Neo-Sans";
  src: url("assets/fonts/NeoSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Neo-Sans-Std-Bl";
  src: url("assets/fonts/NeoSansStd-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Neo-Sans-Regular";
  src: url("assets/fonts/NeoSansStd-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Neo-Sans-Light";
  src: url("assets/fonts/NeoSansIntel-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Neo-Sans-Medium";
  src: url("assets/fonts/NeoSansStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

body {
  font-family: "Neo-Sans-Regular";
}

#dish-title {
  font-family: "Neo-Sans-Std-Bl";
}
