#overlay {
  .non-veg & {
    background: rgba(202, 39, 62, 0.98);
  }
  .veg & {
    background: rgba(0, 130, 118, 0.98);
  }
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  text-align: left;
  .switch-container {
    position: absolute;
    left: 0;
    top: 20px;
  }
}

.overlay-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-top: 20px;
  .list {
    font-family: "Neo-Sans";
    font-size: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    opacity: .8;
    display: inline-block;
    width: 45%;
    margin-bottom: 10px;
    padding-bottom: 8px;
    text-transform: uppercase;
    &:nth-child(odd) {
      margin-right: 25px;
    }
  }
}

#overlay-inner {
  padding: 15px;
  overflow-x: auto;
  height: 100vh;
  .heading-3 {
    font-family: "Neo-Sans-Light";
    font-size: 24px;
    display: block;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

#menu-veg-list {
  margin-bottom: 30px;
}

#close-menu-btn {
  background: white;
  padding: 6px;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 16px;
  top: 20px;
  color: black;
  text-align: center;
  border-radius: 34px;
  //display: none;
}

#close-menu-btn:before, #close-menu-btn:after {
  border-radius: 5px;
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 4px;
  .non-veg & {
    background: rgba(202, 39, 62, 0.98);
  }
  .veg & {
    background: rgba(0, 130, 118, 0.98);
  }
}

#close-menu-btn:before {
  transform: rotate(45deg);
}

#close-menu-btn:after {
  transform: rotate(-45deg);
}

#overlay-heading {
  font-family: "Neo-Sans-Light";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 34px;
  text-align: center;
  margin: 15px 0 10px;
}

#menu-list-filter-container {
  display: none;
}